<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte"
      >ADICIONAR USUÁRIO</mat-toolbar
    >

      <mat-form-field class="full-width">
        <input matInput placeholder="Usuário" name="user"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" name="name"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Senha" name="password"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="status" name="role"/>
      </mat-form-field>
    </mat-card-content>

      <mat-card-actions>
        <button
          id="button-salvar"
          (click)="onSubmit()"
          name="user"
          mat-raised-button
        >
         Salvar
        </button>
        <button type="button" mat-raised-button (click)="voltar()">
          Cancelar
        </button>
      </mat-card-actions>
</mat-card>
