<mat-card>
  <mat-card-content>
    <ng-container *ngIf="userParam.id === ''; else update">
      <mat-toolbar color="primary" id="peso-fonte"
        >Adicionar Usuário</mat-toolbar
      >
    </ng-container>
    <ng-template #update>
      <mat-toolbar color="primary" id="peso-fonte">Alterar Usuário</mat-toolbar>
    </ng-template>

    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Usuário"
        name="user"
        [(ngModel)]="userParam.user"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Nome"
        name="name"
        [(ngModel)]="userParam.name"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Senha"
        name="password"
        [(ngModel)]="userParam.password"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="status"
        name="role"
        [(ngModel)]="userParam.role"
      />
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <ng-container *ngIf="userParam.id === ''; else update_button">
      <button
        type="button"
        id="button-salvar"
        (click)="onNew(userParam)"
        mat-raised-button
      >
        Salvar
      </button>
    </ng-container>
    <ng-template #update_button>
      <button
        type="button"
        id="button-salvar"
        (click)="onUpdate(userParam.id, userParam)"
        mat-raised-button
      >
        Salvar
      </button>
    </ng-template>
    <button type="button" mat-raised-button (click)="voltar()">Cancelar</button>
  </mat-card-actions>
</mat-card>
