<mat-card>
  <mat-card-header>
    <mat-toolbar id="toolbar" color="primary"
      >DRHs - Mat.: {{ matricula }}
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div id="altura" *ngIf="list$ | async; else loading">
      <table mat-table [dataSource]="list$ | async">

        <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef>Aquisitivo</th>
          <td mat-cell *matCellDef="let drh">{{ drh.period }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let drh" mask="99/99/9999">{{ drh.date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
  <ng-template #loading>
    <div id="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button
      style="margin: 10px 8px"
      (click)="voltar()"
      mat-raised-button
      color="primary"
    >
      VOLTAR
    </button>
  </mat-card-actions>
</mat-card>
