<mat-card>
  <mat-card-header>
    <mat-toolbar id="toolbar" color="primary"
      >LISTA DE TREs - Mat.: {{ matricula }}
      <span id="buttons">
        <button (click)="onSave(matricula)" id="mat-button-custom-adm">
          <mat-icon class="new" fontSet="material-icons-round">add</mat-icon>
        </button>
        <button  (click)="onUsers()" id="mat-button-custom-adm">
          <mat-icon class="new" fontSet="material-icons-round">person</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div id="altura">
      <table mat-table [dataSource]="list">
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef>Nº</th>
          <td mat-cell *matCellDef="let tre">{{ tre.order }}</td>
        </ng-container>

        <ng-container matColumnDef="registration">
          <th mat-header-cell *matHeaderCellDef>Matrícula</th>
          <td mat-cell *matCellDef="let tre">{{ tre.registration }}</td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Ano da Eleição</th>
          <td mat-cell *matCellDef="let tre">{{ tre.year }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data do TRE</th>
          <td mat-cell *matCellDef="let tre">{{ tre.date }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th style="text-align: center;" mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let tre">
            <span id="actions">
              <button (click)="edit()" id="mat-button-custom">
                <mat-icon id="edit" fontSet="material-icons-outlined"
                  >edit</mat-icon
                >
              </button>
              <button (click)="delete()" id="mat-button-custom">
                <mat-icon id="delete" fontSet="material-icons-outlined"
                  >delete</mat-icon
                >
              </button>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button
      style="margin: 10px 8px"
      (click)="voltar()"
      mat-raised-button
      color="primary"
    >
      VOLTAR
    </button>
  </mat-card-actions>
</mat-card>
