<mat-card>
  <mat-card-header>
    <mat-toolbar id="toolbar" color="primary"
      >Usuários Cadastrados

      <span>
        <button (click)="onSave()" id="mat-button-custom-adm">
          <mat-icon class="new" fontSet="material-icons-round">add</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div id="altura" *ngIf="list$ | async; else loading">
      <table mat-table [dataSource]="list$ | async">
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let user">{{ user.name }}</td>
        </ng-container>

        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef>Senha</th>
          <td mat-cell *matCellDef="let user">{{ user.password }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let user">{{ user.role }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th style="text-align: center" mat-header-cell *matHeaderCellDef>
            Ações
          </th>
          <td mat-cell *matCellDef="let user">
            <span id="actions">
              <button (click)="edit(user.id)" id="mat-button-custom">
                <mat-icon id="edit" fontSet="material-icons-outlined"
                  >edit</mat-icon
                >
              </button>
              <button (click)="delete(user.id)" id="mat-button-custom">
                <mat-icon id="delete" fontSet="material-icons-outlined"
                  >delete</mat-icon
                >
              </button>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
  <ng-template #loading>
    <div id="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button
      style="margin: 10px 8px"
      (click)="voltar()"
      mat-raised-button
      color="primary"
    >
      VOLTAR
    </button>
  </mat-card-actions>
</mat-card>
