<mat-card>
  <mat-card-header>
    <mat-toolbar id="toolbar" color="primary"
      >LISTA DE TREs - Mat.: {{ matricula }}
      <span *ngIf="role === 'adm'">
        <button style="font-size: 10px" mat-button (click)="onSave(matricula)">
          Adicionar
        </button>
        <button style="font-size: 10px" mat-button (click)="onUsers()">
          Usuários
        </button>
      </span>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div id="altura">
      <table mat-table [dataSource]="list">
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef>Nº</th>
          <td mat-cell *matCellDef="let tre">{{ tre.order }}</td>
        </ng-container>

        <ng-container matColumnDef="registration">
          <th mat-header-cell *matHeaderCellDef>Matrícula</th>
          <td mat-cell *matCellDef="let tre">{{ tre.registration }}</td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Ano da Eleição</th>
          <td mat-cell *matCellDef="let tre">{{ tre.year }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data do TRE</th>
          <td mat-cell *matCellDef="let tre">{{ tre.date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      style="margin: 10px 8px"
      (click)="voltar()"
      mat-raised-button
      color="primary"
    >
      VOLTAR
    </button>
  </mat-card-actions>
</mat-card>
