<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte"
      >Consulta de folgas - GARBO</mat-toolbar
    >
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Usuário"
        inputmode="numeric"
        [(ngModel)]="user"
        name="user"
        pattern="[0-9]*"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Senha"
        type="password"
        inputmode="numeric"
        [(ngModel)]="password"
        name="password"
        pattern="[0-9]*"
      />
    </mat-form-field>
    <mat-card-actions>
      <button
        id="button-drh"
        (click)="drh('drhs')"
        name="drh"
        mat-raised-button
      >
        DRH
      </button>
      <button
        id="button-tre"
        (click)="tre('tres')"
        name="tre"
        mat-raised-button
      >
        TRE
      </button>
      <button
        id="button-facultativo"
        (click)="facultativo('facultativos')"
        name="facultativo"
        mat-raised-button
      >
        FAC
      </button>
      <button
        id="button-escala"
        (click)="escala('escalas')"
        name="escala"
        mat-raised-button
      >
        ESC
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
