<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte"
      >CONSULTA DE DRH E TRE</mat-toolbar
    >

      <mat-form-field class="full-width">
        <input matInput placeholder="Usuário" [(ngModel)]="user" name="user"/>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Senha" [(ngModel)]="password" name="password"/>
      </mat-form-field>

      <mat-card-actions>
        <button
          id="button-drh"
          (click)="onSubmit('drh')"
          name="user"
          mat-raised-button
        >
          DRH
        </button>
        <button
          id="button-tre"
          (click)="onSubmit('tre')"
          name="password"
          mat-raised-button
        >
          TRE
        </button>

        <button type="button" mat-raised-button (click)="clear()">
          Limpar
        </button>
      </mat-card-actions>
  </mat-card-content>
</mat-card>
