<mat-card>
  <mat-card-content>
    <ng-container *ngIf="drh.id === 0; else update">
      <mat-toolbar color="primary" id="peso-fonte">Adicionar DRH</mat-toolbar>
    </ng-container>
    <ng-template #update>
      <mat-toolbar color="primary" id="peso-fonte">Alterar DRH</mat-toolbar>
    </ng-template>

    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Matrícula"
        name="registration"
        [(ngModel)]="drh.registration"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Período"
        name="period"
        mask="9999/9999"
        [(ngModel)]="drh.period"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Data do uso"
        name="date"
        mask="d0/M0/0000"
        [(ngModel)]="drh.date"
      />
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button
      type="button"
      id="button-drh"
      (click)="onSubmit(drh)"
      mat-raised-button
    >
      Salvar
    </button>
    <button type="button" mat-raised-button (click)="voltar()">Cancelar</button>
  </mat-card-actions>
</mat-card>
