@import "material-icons/iconfont/material-icons.css";

@media (mix-width: 600px) {
  mat-card {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 600px) and (max-width: 2000px) {
  mat-card {
    width: 40%;
    margin: 0 auto;
  }
}

#tres-list {
  width: 40%;
  margin: 0 auto;
}

#altura {
  overflow-y: auto;
  height: 450px;
}

* {
  font-family: Montserrat;
  font-weight: 300;
}

table {
  padding: 10px;
}
#toolbar {
  display: flex;
  justify-content: space-between;
}

#delete {
  cursor: pointer;
  color: rgb(255, 71, 71);
  display: flex;
  align-items: center;
}
#edit {
  cursor: pointer;
  color: rgb(5, 167, 5);
  display: flex;
  align-items: center;
}
#actions {
  display: flex;
  justify-content: center;
}

#mat-button-custom {
  border: 0px;
  background-color: white;
}
#loading-spinner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
}

.red-text {
  font-weight: 600;
  color: red;
}

#button-drh {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  background-color: #84a2f3;
  color: white;
  font-weight: 300;
  font-family: Montserrat;
  margin: 10px 8px;
}
#button-facultativo {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  background-color: #d2da2c;
  color: white;
  font-weight: 300;
  font-family: Montserrat;
}
#button-voltar {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: Montserrat;
  background-color: rgb(243, 162, 192);
  margin: 10px 8px;
}
