<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte">CONSULTA DE DRH E TRE</mat-toolbar>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Usuário" formControlName="user" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Senha" formControlName="password" />
      </mat-form-field>

      <mat-card-actions>
        <button id="button-drh" type="submit" mat-raised-button>DRH</button>
        <button
          id="button-tre"
          type="submit"
          mat-raised-button
          color="accent"
        >
          TRE
        </button>

        <button type="button" mat-raised-button (click)="clear()">
          Limpar
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
