<mat-card>
  <mat-card-header>
    <mat-toolbar id="toolbar" color="primary">ESCALA</mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div id="altura" *ngIf="list$ | async; else loading">
      <table mat-table [dataSource]="list$ | async">
        <ng-container matColumnDef="yearMonth">
          <th mat-header-cell *matHeaderCellDef>Ano/Mês</th>
          <td mat-cell *matCellDef="let escala">{{ escala.yearMonth }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th style="text-align: center" mat-header-cell *matHeaderCellDef>
            Abrir Escala
          </th>
          <td mat-cell *matCellDef="let escala">
            <span id="actions">
              <button (click)="onLink(escala.link)" id="mat-button-custom">
                <mat-icon id="details" fontSet="material-icons-outlined"
                  >forward</mat-icon
                >
              </button>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
  <ng-template #loading>
    <div id="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button id="button-drh" (click)="onDrh()" mat-raised-button>DRH</button>
    <button id="button-tre" (click)="onTre()" mat-raised-button>TRE</button>
    <button id="button-facultativo" (click)="onFacultativo()" mat-raised-button>
      FAC
    </button>
    <button id="button-voltar" (click)="voltar()" mat-raised-button>
      SAIR
    </button>
  </mat-card-actions>
</mat-card>
