@import "material-icons/iconfont/material-icons.css";

@media (mix-width: 600px) {
  mat-card {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 600px) and (max-width: 2000px) {
  mat-card {
    width: 40%;
    margin: 0 auto;
  }
}

#button-drh {
  width: 100%;
  height: 70px;
  font-size: 1.5rem;
  background-color: #84a2f3;
  color: white;
  margin-bottom: 15px;
  font-weight: 300;
  font-family: Montserrat;
}

#button-tre {
  width: 100%;
  height: 70px;
  font-size: 1.5rem;
  background-color: #78dd77;
  color: black;
  margin-bottom: 15px;
  font-weight: 300;
  font-family: Montserrat;
}
#button-facultativo {
  width: 100%;
  height: 70px;
  font-size: 1.5rem;
  background-color: #d2da2c;
  color: black;
  margin-bottom: 15px;
  font-weight: 300;
  font-family: Montserrat;
}
#button-escala {
  width: 100%;
  height: 70px;
  font-size: 1.5rem;
  background-color: #dd72e7;
  color: black;
  margin-bottom: 15px;
  font-weight: 300;
  font-family: Montserrat;
}
#button-usuario {
  width: 100%;
  height: 70px;
  font-size: 1.5rem;
  background-color: #c9c9c9;
  color: black;
  font-weight: 300;
  margin-bottom: 25px;
  font-family: Montserrat;
}

#button-sair {
  font-size: 0.9rem;
  color: rgb(65, 63, 63);
  font-weight: 500;
  font-family: Montserrat;
}

#peso-fonte {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Montserrat;
}

#buttons {
  display: flex;
  align-items: center;
}

#toolbar {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100%;
  margin-top: 15px;
  margin-bottom: -9px;
  font-size: 1.5rem;
  display: flex;
  justify-items: center;
}

