<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte"
      >Usuário: {{ name }}
    </mat-toolbar>
    <mat-form-field class="input">
      <input
        matInput
        placeholder="Matrícula"
        name="registration"
        [(ngModel)]="user"
      />
    </mat-form-field>
      <button id="button-drh" type="button" mat-raised-button (click)="onDrh()">
        DRH
      </button>
      <button id="button-tre" type="button" mat-raised-button (click)="onTre()">
        TRE
      </button>
      <button id="button-facultativo" type="button" mat-raised-button (click)="onFacultativo()">
        FACULTATIVO
      </button>
      <button id="button-escala" type="button" mat-raised-button (click)="onEscala()">
        ESCALA
      </button>
      <button id="button-usuario" type="button" mat-raised-button (click)="onUsers()">
        USUÁRIOS
      </button>
      <button
        id="button-sair"
        type="button"
        mat-raised-button
        (click)="cancel()"
      >
        SAIR
      </button>
  </mat-card-content>
</mat-card>

